/*
 * SPDX-License-Identifier: MPL-2.0
 * SPDX-FileCopyrightText: Copyright 2024 Siemens AG
 */

html,
body {
    width: 420px;
    padding: 0;
    margin: 0;
}

.entity {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: #707070;
    cursor: pointer;
}

#entity-me {
    display: none;
}
body.has-account #entity-me {
    display: block;
}
.info-no-trust {
    display: none;
}
body.has-account .info-no-trust {
    display: inline-block;
}
body.has-account .info-no-account {
    display: none;
}

body.pending .entity {
    cursor: wait;
}

body.nm-connected #nm-error-box {
    display: none;
}

.entity:hover {
    background-color: #e0e0e0;
}

.entity.active {
    background-color: #e0e0e0;
    color: #000;
    cursor: default;
}

.entity .avatar {
    display: inline-block;
    margin-right: 10px;
}

.entity .info {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    overflow: hidden;
}
.entity .info .email {
    font-size: 0.8em;
}

.entity .avatar img {
    width: 48px;
    height: 48px;
}

.connected .state-connected-icon {
    color: green;
}
.disconnected .state-connected-icon {
    color: red;
}

.hidden {
    display: none !important;
}

.footer {
    padding-bottom: 5px;
    font-size: 0.8em;
    min-height: 1em;
    color: #707070;
}

.footer > .footer-block {
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 5px 0px 5px;
}

.footer > .footer-block > div {
    clear: both;
}

.footer a,
.footer a:visited {
    color: #707070;
}

.footer .right {
    float: right;
}

.footer .clear {
    clear: both;
}

.error-text {
    color: red;
}
.footer .error-text a,
.footer .error-text a:visited {
    color: red;
}

.warning-text {
    color: rgb(255, 120, 0);
}

span.link {
    text-decoration: underline dotted;
    cursor: pointer;
}

.connected #grant-access {
    display: none;
}
.disconnected #withdraw-access {
    display: none;
}

#bg-sso-state.immutable .link {
    display: none;
}
